<div class="container-calculadora">
  
  <div class="imagem-animation">
    <img src="./assets/operacoes.png" alt="assda">
  </div>
  
  <div class="calculadora">
    <p class="error">{{error}}</p>
    <div class="result">
      <p>{{calculo}}</p>
    </div>
    <input type="number" [(ngModel)]="num1">
    <input type="number" [(ngModel)]="num2">
    <div class="buttons">
      <button (click)="somar()">+</button>
      <button (click)="subtrair()">-</button>
      <button (click)="multiplicar()">*</button>
      <button (click)="dividir()">/</button>
      <button (click)="limpar()">C</button>
    </div>
    
  </div>
  
 
</div>
