<div class="container-calculadora">
  <input type="text">
  <div class="buttons">
    <ul class="layout">
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>+</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>-</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>*</li>
      <li>+/-</li>
      <li>0</li>
      <li>,</li>
      <li>/</li>
    </ul>
  </div>
</div>
<div>
  <form>

  <input type="number" name="num1" [(ngModel)]="num1" id="">
  <input type="number" name="num1" [(ngModel)]="num2" id="">
  <BUtton (click)="somar()">SOMAR</BUtton>
  <input [value]="soma">
</form>
</div>
