.container-calculadora {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.imagem-animation{
  text-align: center;
}

.imagem-animation img {
  max-height: 250px;
  filter: drop-shadow(5px 5px 3px #afafaf);
  animation-name: keyimage;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0px;
}

.calculadora input {
  max-width: 500px;
  width: 100%;
  height: 48px;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f3f3f3;
  box-shadow: 5px 5px 3px #cbcbcb, -5px -5px 3px #e7e7e7;
  transition: .2s;
}

.calculadora input:hover {
 background-color: #ebebeb;
 transition: .2s;
}

.calculadora input:focus {
  border: none;
  outline: none;
  overflow: none;
}

.buttons {
  display: flex;
  gap: 20px;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
}
.buttons button {
  width: 60px;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 3px #cbcbcb, -5px -5px 3px #e7e7e7;
  transition: .2s;
}

.buttons button:hover {
  background-color:#d4d4d4;
  cursor: pointer;
  transition: .2s;
}

.result {
 max-width: 500px;
 width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f3f3f3;
  margin-bottom: 1.5rem;
  padding: 0 0.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 3px #cbcbcb, -5px -5px 3px #e7e7e7;
}

.error{
  margin: 1rem;
  font-size: 1rem;
}

@keyframes keyimage {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
